<header>
    <div class="container clearfix res_pad0">
        <div class="navbar-header logo_img">
        </div>
        <nav class="nav navbar-nav navbar-right">
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#login">Login</a></li>
                <li><a ><i class="fa fa-th main_nav_icon"></i></a>
                    <ul>
                        <li><a href="#"><i class="fa fa-square thm1 mar_r"></i> Discovery</a></li>
                        <li><a href="#"><i class="fa fa-square thm2 mar_r"></i> Box</a></li>
                        <li><a href="#"><i class="fa fa-square thm3 mar_r"></i> Delphi</a></li>
                        <li><a href="#"><i class="fa fa-square thm4 mar_r"></i> Distribute</a></li>
                        <li><a href="#"><i class="fa fa-square thm5 mar_r"></i> Ezmarc</a></li>
                        <li><a href="#"><i class="fa fa-square thm6 mar_r"></i> Ezcitation</a></li>
                        <li><a href="#"><i class="fa fa-square thm7 mar_r"></i> Gears</a></li>
                        <li><a href="#"><i class="fa fa-square thm8 mar_r"></i> Niagara</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container-fluid main_bg" id="home">
    <div class="color-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mar_top">
                    <div class="intro-section">
                        <h5>A platform to capture and visualize events <br />across all your applications</h5>
                        <div class="buttons" id="login-button">
                            <a href="#login" class="btn btn-default btn-lg standard-button">
                                <i class="icon-app-download"></i>Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_map_alt"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Analyze Events</h4>
                        <p>Analyze multitudes of events across platforms</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_gift_alt"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Process Petabyte Scale Data</h4>
                        <p>Capture and process data at massive scale</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_ribbon_alt"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Visualize Funnels</h4>
                        <p>Discover how your users progress through specific paths</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_genius"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Segment Data</h4>
                        <p>Isolate and examine subset of data</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                     <div class="ipad-img hidden-sm hidden-xs"></div>
                     <div class="iphone-img hidden-md hidden-lg"></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_ribbon_alt"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Understand User Retention</h4>
                        <p>Understand the retention rate of users and assess the vitality of your business</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_lightbulb_alt"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Access Data Via REST API</h4>
                        <p>Get access to everything you see on the dashboard</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_tablet"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Multi-tenant Multi-application</h4>
                        <p>Ready to be deployed for all of your applications</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_genius"></i>
                        </div>
                    </div>
                    <div class="fetaure-details">
                        <h4 class="main-color">Generate Predictions<span class="label label-success">coming soon</span></h4>
                        <p>Utilize machine learning to predict trends with accuracy</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="login" id="login">
    <div class="color-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-form-container">

                        {{{renderFlashMsg}}}

                        <form method="post" action="/login{{redirectTo}}" class="login-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <h4 class="login-success"></h4>
                            <h4 class="login-error"></h4>
                            <input type="text" name="email" id="user-name" placeholder="User Name" class="form-control input-box"><br/><br />
                            <input type="password" name="password" id="user-password" placeholder="Password" class="form-control input-box"><br /><br />
                            <button type="submit" id="login-button" class="btn btn-default standard-button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="copyright">
            &copy;{{copyrightRange}} iPublishcentral Insights, All Rights Reserved
        </p>
    </div>
</footer>
