<div class="flash-msgs error">
    <h2><span>Error</span></h2>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
