<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active treeview link dashboard">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview link books">
                <a href="#" >
                    <i class="fa fa-laptop"></i>
                    <span>Books</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="books-dashboard"><a href="/books/dashboard" ><i class="fa fa-angle-right "></i><span>Dashboard</span></li>
                    <li class="books-daily"><a href="/books/daily"><i class="fa fa-angle-right"></i>Activity By Date</a>
                        <ul class="treeview-menu">
                            <li class="books-daily-bookDownloadComplete"><a href="/books/daily?event=bookDownloadComplete" ><i class="fa fa-angle-right "></i><span>Book Download</span></li>
                            <li class="books-daily-bookOpen"><a href="/books/daily?event=bookOpen"><i class="fa fa-angle-right "></i>Book Open</a></li>
                            <li class="books-daily-noteAdd"><a href="/books/daily?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="books-daily-bookmarkAdd"><a href="/books/daily?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="books-daily-highlightAdd"><a href="/books/daily?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                            <li class="books-daily-searchResult"><a href="/books/daily?event=searchResult"><i class="fa fa-angle-right "></i>Searches</a></li>
                            <li class="books-daily-pageView"><a href="/books/daily?event=pageView"><i class="fa fa-angle-right "></i>Page Views (PDF)</a></li>
                            <li class="books-daily-contentView"><a href="/books/daily?event=contentView"><i class="fa fa-angle-right "></i>Content Views (EPUB)</a></li>
                            <li class="books-daily-timespent"><a href="/books/daily?event=timespent"><i class="fa fa-angle-right "></i>Time Spent</a></li>
                        </ul>
                    </li>
                    <li class="books-activity"><a href="/books/activity"><i class="fa fa-angle-right"></i>Top Books</a>
                        <ul class="treeview-menu">
                            <li class="books-activity-bookDownloadComplete"><a href="/books/activity?event=bookDownloadComplete" ><i class="fa fa-angle-right "></i><span>Book Download</span></li>
                            <li class="books-activity-bookOpen"><a href="/books/activity?event=bookOpen"><i class="fa fa-angle-right "></i>Book Open</a></li>
                            <li class="books-activity-noteAdd"><a href="/books/activity?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="books-activity-bookmarkAdd"><a href="/books/activity?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="books-activity-highlightAdd"><a href="/books/activity?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                            <li class="books-activity-searchResult"><a href="/books/activity?event=searchResult"><i class="fa fa-angle-right "></i>Searches</a></li>
                            <li class="books-activity-pageView"><a href="/books/activity?event=pageView"><i class="fa fa-angle-right "></i>Page Views (PDF)</a></li>
                            <li class="books-activity-contentView"><a href="/books/activity?event=contentView"><i class="fa fa-angle-right "></i>Content Views (EPUB)</a></li>
                            <li class="books-activity-timespent"><a href="/books/activity?event=timespent"><i class="fa fa-angle-right "></i>Time Spent</a></li>
                        </ul>
                    </li>
                    <li class="books-heatmap-pdf"><a href="#"><i class="fa fa-angle-right"></i>Heatmap (PDF)</a>
                        <ul class="treeview-menu">
                            <li class="books-heatmap-pdf-pageView"><a href="/books/heatmap/pdf?event=pageView"><i class="fa fa-angle-right "></i>Page Views</a></li>
                            <li class="books-heatmap-pdf-noteAdd"><a href="/books/heatmap/pdf?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="books-heatmap-pdf-bookmarkAdd"><a href="/books/heatmap/pdf?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="books-heatmap-pdf-highlightAdd"><a href="/books/heatmap/pdf?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                        </ul>
                    </li>
                    <li class="books-heatmap-epub"><a href="#"><i class="fa fa-angle-right"></i>Heatmap (EPUB)</a>
                        <ul class="treeview-menu">
                            <li class="books-heatmap-epub-contentView"><a href="/books/heatmap/epub?event=contentView"><i class="fa fa-angle-right "></i>Content Views</a></li>
                            <li class="books-heatmap-epub-contentScroll"><a href="/books/heatmap/epub?event=contentScroll"><i class="fa fa-angle-right "></i>Content Scroll</a></li>
                            <li class="books-heatmap-epub-noteAdd"><a href="/books/heatmap/epub?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="books-heatmap-epub-bookmarkAdd"><a href="/books/heatmap/epub?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="books-heatmap-epub-highlightAdd"><a href="/books/heatmap/epub?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview link users">
                <a href="#" >
                    <i class="fa fa-edit"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="users-dashboard"><a href="/users/dashboard" ><i class="fa fa-angle-right"></i><span>Dashboard</span></a></li>
                    <li class="users-daily"><a href="/users/daily"><i class="fa fa-angle-right "></i>User Count By Date</a>
                        <ul class="treeview-menu">
                            <li class="users-daily-bookDownloadComplete"><a href="/users/daily?event=bookDownloadComplete" ><i class="fa fa-angle-right "></i><span>Book Download</span></li>
                            <li class="users-daily-bookOpen"><a href="/users/daily?event=bookOpen"><i class="fa fa-angle-right "></i>Book Open</a></li>
                            <li class="users-daily-noteAdd"><a href="/users/daily?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="users-daily-bookmarkAdd"><a href="/users/daily?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="users-daily-highlightAdd"><a href="/users/daily?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                            <li class="users-daily-searchResult"><a href="/users/daily?event=searchResult"><i class="fa fa-angle-right "></i>Searches</a></li>
                            <li class="users-daily-activeUsers"><a href="/users/daily?event=activeUsers"><i class="fa fa-angle-right "></i>Active User Count</a></li>
                            <li class="users-daily-newUsers"><a href="/users/daily?event=newUsers"><i class="fa fa-angle-right "></i>New User Count</a></li>
                        </ul>
                    </li>
                    <li class="users-activity"><a href="/users/activity"><i class="fa fa-angle-right "></i>Top users</a>
                        <ul class="treeview-menu">
                            <li class="users-activity-bookDownloadComplete"><a href="/users/activity?event=bookDownloadComplete" ><i class="fa fa-angle-right "></i><span>Book Download</span></li>
                            <li class="users-activity-bookOpen"><a href="/users/activity?event=bookOpen"><i class="fa fa-angle-right "></i>Book Open</a></li>
                            <li class="users-activity-noteAdd"><a href="/users/activity?event=noteAdd"><i class="fa fa-angle-right "></i>Notes</a></li>
                            <li class="users-activity-bookmarkAdd"><a href="/users/activity?event=bookmarkAdd"><i class="fa fa-angle-right "></i>Bookmarks</a></li>
                            <li class="users-activity-highlightAdd"><a href="/users/activity?event=highlightAdd"><i class="fa fa-angle-right "></i>Highlights</a></li>
                            <li class="users-activity-searchResult"><a href="/users/activity?event=searchResult"><i class="fa fa-angle-right "></i>Searches</a></li>
                            <li class="users-activity-activeUsers"><a href="/users/activity?event=activeUsers"><i class="fa fa-angle-right "></i>Active Users</a></li>
                            <li class="users-activity-newUsers"><a href="/users/activity?event=newUsers"><i class="fa fa-angle-right "></i>New Users</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview link funnel">
                <a href="/funnel">
                    <i class="fa fa-line-chart"></i>
                    <span>Funnel</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        <li class="funnel-notesFunnel"><a href="/funnel/notesFunnel" ><i class="fa fa-angle-right "></i><span>Notes Funnel</span></li>
                        <li class="funnel-highlightsFunnel"><a href="/funnel/highlightsFunnel"><i class="fa fa-angle-right "></i>Highlights Funnel</a></li>
                        <li class="funnel-bookmarksFunnel"><a href="/funnel/bookmarksFunnel"><i class="fa fa-angle-right "></i>Bookmarks Funnel</a></li>
                        <li class="funnel-searchFunnel"><a href="/funnel/searchFunnel"><i class="fa fa-angle-right "></i>Search Funnel</a></li>
                    </ul>
                </a>
            </li>
            <li class="treeview link retention">
                <a href="/retention">
                    <i class="fa fa-area-chart"></i>
                    <span>Retention</span>
                </a>
            </li>
            <li class="treeview link events">
                <a href="/events">
                    <i class="fa fa-bar-chart"></i>
                    <span>Explore</span>
                </a>
            </li>
        </ul>
    </section>
</aside>

<div class="sidebar-footer">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" data-tooltip="Collapse sidebar" role="button"></a>
</div>
