<table class="table table-bordered table-striped report-list">
    <thead>
        <th>Date</th>
        <th>{{tableHeader}}</th>
    </thead>
    <tbody>
        {{#each rows}}
            <tr>
                <td>{{date}}</td>
                <td>{{count}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
